@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0; }
  1% {
    visibility: visible;
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1; }
  90% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: hidden;
    opacity: 0; } }

.faded {
  visibility: hidden; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.3; }

a,
a:visited,
a:hover {
  text-decoration: none; }

.container {
  width: 100%;
  height: 100%; }

.flex {
  display: flex; }
  .flex-jc-c {
    justify-content: center; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-ai-c {
    align-items: center; }
  .flex-rw-wp {
    flex-flow: row wrap; }

button {
  padding: 1rem 3rem;
  border-radius: 100px;
  cursor: pointer;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  border: 0;
  font-weight: 400; }

h2 {
  font-weight: 300;
  color: #2d314d;
  font-size: 2.5rem; }

h3 {
  font-weight: 300;
  color: #2d314d;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

h4 {
  font-weight: 400;
  color: #2d314d;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  h4:hover {
    color: #31d35c;
    cursor: pointer; }

p {
  color: #9698a6;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.6; }

small {
  color: #9698a6;
  font-size: 1rem; }

.content__image {
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

@media only screen and (min-width: 768px) {
  .container {
    overflow-x: hidden; } }

.header .navbar {
  padding: 3rem 2.5rem;
  z-index: 99998;
  position: sticky;
  background-color: white; }

.header__links {
  opacity: 0;
  background-color: white;
  padding: 3.5rem;
  border-radius: 5px;
  position: absolute;
  width: calc(100% - 5rem);
  right: 50%;
  transform: translateX(50%);
  margin-top: 5rem;
  z-index: 99999; }
  .header__links li {
    list-style: none;
    color: #2d314d;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer; }
    .header__links li:not(:last-child) {
      margin-bottom: 2rem; }
  .header__links.active {
    animation: fade-in 0.3s ease-in-out forwards; }
  .header__links.inActive {
    animation: fade-out 0.3s ease-in-out forwards; }

.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(#2d314d, transparent);
  z-index: 90000; }
  .overlay.active {
    animation: fade-in 0.3s ease-in-out forwards; }
  .overlay.inActive {
    animation: fade-out 0.3s ease-in-out forwards; }

.menu__btn {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  .menu__btn--burger {
    width: 100%;
    height: 1px;
    background-color: #2d314d;
    border-radius: 5px;
    transition: all 0.3s ease-in-out; }
    .menu__btn--burger::before, .menu__btn--burger::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #2d314d;
      border-radius: 5px;
      transition: all 0.3s ease-in-out; }
    .menu__btn--burger::before {
      transform: translateY(-5px); }
    .menu__btn--burger::after {
      transform: translateY(5px); }
  .menu__btn.open .menu__btn--burger {
    background-color: transparent; }
  .menu__btn.open .menu__btn--burger::before {
    transform: rotate(45deg); }
  .menu__btn.open .menu__btn--burger::after {
    transform: rotate(-45deg); }

.hide-on-mobile {
  display: none; }

@media only screen and (min-width: 768px) {
  .hide-on-desktop {
    display: none; }
  .hide-on-mobile {
    display: block; }
  .header .navbar {
    padding: 3rem 15rem; }
  .header__links--desktop li {
    list-style: none;
    color: #9698a6;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all .35s ease; }
    .header__links--desktop li:not(:last-child) {
      margin-right: 2rem; }
    .header__links--desktop li:after {
      background: none repeat scroll 0 0 transparent;
      top: 150%;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #31d35c;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0; }
    .header__links--desktop li:hover:after {
      width: 100%;
      left: 0; } }

.hero {
  text-align: center; }
  .hero__image {
    background-image: url("images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 28rem;
    position: relative; }
    .hero__image::before {
      content: "";
      position: absolute;
      background-image: url("images/image-mockups.png");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;
      height: 100%;
      width: 100%;
      left: 0; }
  .hero__text {
    padding: 0 3rem;
    color: #2d314d; }
    .hero__text h1 {
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 1rem; }
  .hero__button {
    margin-top: 3rem; }

@media only screen and (min-width: 768px) {
  .hero {
    padding-left: 15rem;
    display: grid;
    grid-template-columns: 35% 1fr;
    text-align: left;
    min-height: 70vh;
    background-color: #fafafa; }
    .hero__image {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      background-image: url("images/bg-intro-desktop.svg");
      background-size: 110%;
      background-position-x: 5rem;
      position: relative; }
      .hero__image::before {
        content: none; }
      .hero__image img {
        position: absolute;
        left: 25%;
        top: -25%; }
    .hero__text {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .hero__text h1 {
        font-size: 4rem; }
    .hero__button {
      grid-column: 1 / 2;
      grid-row: 1 / 2; } }

.content {
  margin-top: 8rem;
  padding: 8rem 3rem 8rem 3rem;
  background-color: #fafafa;
  text-align: center; }
  .content__header--box {
    padding: 0 5rem;
    margin-bottom: 1rem; }
  .content__information {
    margin-top: 5rem; }

.articles {
  text-align: center;
  margin-top: 8rem;
  padding: 4rem 3rem 8rem 3rem; }
  .articles__content {
    width: 100%;
    height: 38rem;
    background-color: white;
    margin-top: 3rem; }
  .articles #currency__image {
    background-image: url("./images/image-currency.jpg"); }
  .articles #restaurant__image {
    background-image: url("./images/image-restaurant.jpg"); }
  .articles #plane__image {
    background-image: url("./images/image-plane.jpg"); }
  .articles #confetti__image {
    background-image: url("./images/image-confetti.jpg"); }
  .articles__information {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    text-align: left;
    padding: 2.5rem; }
  .articles__text {
    line-height: 1.3;
    font-size: 1.2rem; }

@media only screen and (min-width: 768px) {
  .content {
    margin-top: 0;
    background-color: #f3f4f6;
    text-align: left;
    padding: 8rem 15rem 8rem 15rem;
    display: flex;
    flex-wrap: wrap;
    min-height: 70vh; }
    .content__header {
      width: 100%; }
      .content__header--box {
        padding: 0;
        margin-bottom: 1rem; }
      .content__header p {
        width: 45%; }
    .content article:not(:last-of-type) {
      margin-right: 1.5rem; }
    .content__information {
      width: 24%; }
  .articles {
    text-align: left;
    padding: 4rem 15rem 8rem 15rem;
    display: flex;
    flex-wrap: wrap; }
    .articles__header {
      width: 100%; }
    .articles__content {
      width: 24%; }
    .articles article:not(:last-of-type) {
      margin-right: 1.5rem; } }

footer {
  background-color: #2d314d;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.footer__icon {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .footer__icon img:not(:last-of-type) {
    margin-right: 1rem; }

.footer__links {
  list-style: none;
  color: white;
  text-align: center; }
  .footer__links li {
    font-size: 1.2rem;
    opacity: 0.9;
    cursor: pointer; }
    .footer__links li:not(:last-of-type) {
      margin-bottom: 1.5rem; }

.footer__button {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

@media only screen and (min-width: 768px) {
  footer {
    padding-left: 15rem;
    padding-right: 15rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 50%; }
  .footer__links {
    text-align: left;
    justify-self: center; }
    .footer__links li:hover {
      color: #31d35c; }
  .footer__logo {
    align-self: baseline;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
  .footer__icon {
    margin: 0; }
    .footer__icon a:not(:last-of-type) {
      margin-right: 1rem; }
  .footer__button {
    justify-self: end;
    grid-column: 4 / 5; }
  .copyRight {
    justify-self: end;
    grid-column: 4 / 5; } }
